.imagen-de-fondo {
    background-image: url(/Images/2828921.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 50%;
}

body {
    min-height: 100vh;
    background: linear-gradient(#2b1055, #7597de);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background-color: #f9f9f9;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 600px;
}

.text-primary {
    color: #007bff;
}

.btn-primary {
    background-color: #007bff;
    color: #ffffff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
    color: #ffffff;
}

h2 {
    font-size: 28px;
    /* Tamaño del texto del encabezado */
    font-weight: bold;
    /* Hace que el texto esté en negritas */
}